.app {
  background-color: #f2f2f2;
}

.form {
  max-width: 600px;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding-left: 50px;
}

.from__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
