.place {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.place__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 400;
  margin: 0;
  font-size: 20px;
}

.label {
  position: relative;
}

.select {
  box-sizing: border-box;
  display: block;
  width: 200px;
  outline: none;
  box-shadow: 0 10px 25px rgba(143, 129, 129, 0.1);
  font-size: 17px;
  font-weight: 400;
  padding: 5px;
  background: inherit;
  outline: 1px solid #e5e9e9;
  border: none;
  appearance: none;
}

.customArrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #f6f7f4;
  border-left: 1px solid #e5e9e9;
  height: 100%;
  width: 20%;
  pointer-events: none;
  border-radius: 10%;
}

.customArrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 50%;
  top: 50%;
  margin-top: -5px;
  margin-right: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #b5b7c1;
}
