.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.title {
  font-weight: 400;
}

.label {
  position: relative;
}

.select {
  box-sizing: border-box;
  display: block;
  width: 150px;
  outline: none;
  box-shadow: 0 10px 25px rgba(143, 129, 129, 0.1);
  font-size: 20px;
  line-height: 15px;
  font-weight: 400;
  padding: 8px;
  background: #f2f2f2;
  outline: 1px solid #b5b7c1;
  border: 0;
  appearance: none;
}

.customArrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #f2f2f2;
  border-left: 1px solid #aaacb5;
  height: 100%;
  width: 20%;
  pointer-events: none;
  border-radius: 10%;
}

.customArrow::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 50%;
  top: 50%;
  margin-top: -5px;
  margin-right: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #b5b7c1;
}
