.dateTime {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dateTime__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.field__title {
  font-weight: 400;
  margin: 0;
  font-size: 20px;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  height: 75px;
}

.time__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.time__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
}

.input {
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(143, 129, 129, 0.1);
  background: inherit;
  outline: 1px solid #e5e9e9;
  padding: 5px;
  font-family: inherit;
}

.error {
  font-size: 13px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.date__input {
  width: 120px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 2px solid #ccc;
  border: none;
  text-align: center;
  padding: 4px;
  font-family: inherit;
}

.date__container {
  border: none;
  padding: 1px;
  box-sizing: border-box;
  box-shadow: 0 10px 25px rgba(143, 129, 129, 0.1);
  outline: 1px solid #e3dfdf;
  background: #bbc9d4;
}
